<div class="card mb-10 ">
  <div class="card-body align-items-center py-8">
    <form id="main" (ngSubmit)="onSubmit()" [formGroup]="itemsForm" class="container">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Başlık</span>
        <input type="text" formControlName="title" class="form-control" placeholder="Başlık" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="mb-3">
        <div class="input-group">
          <div class="input-group mb-3">
            <input (change)="onFileSelected($event)" type="file" formControlName="imageurl" class="form-control"
              id="inputGroupFile02">
          </div>
          <!-- <span class="input-group-text" id="basic-addon3">ImageURL</span>
          <input type="text" formControlName="imageurl" class="form-control" id="basic-url"
            aria-describedby="basic-addon3 basic-addon4"> -->
        </div>
      </div>

      <div class="input-group">
        <span class="input-group-text">Stok Durumu</span>
        <div class="mt-2 mx-3 form-check">
          <input class="form-check-input" formControlName="stockstatus" type="radio" name="flexRadioDefault"
            id="flexRadioDefault1" value="true" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            True
          </label>
        </div>
        <div class="mt-2 form-check">
          <input class="form-check-input" formControlName="stockstatus" type="radio" name="flexRadioDefault"
            id="flexRadioDefault2" value="false">
          <label class="form-check-label" for="flexRadioDefault2">
            False
          </label>
        </div>

        <div class="mt-3 input-group">
          <span class="input-group-text">Açıklama</span>
          <textarea formControlName="description" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <!-- [disabled]="!itemsForm.get('imageurl')?.touched" -->
      </div>
      <button [disabled]="!itemsForm.get('imageurl')?.touched" type="submit" class="btn btn-primary btn-sm mt-3">
        Yükle
      </button>
    </form>
  </div>
</div>
